.wrapper {
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;

    flex-direction: column;
}

.title {
    font-size: 3em;
}

.header-info {
    margin-bottom: 20px;
    max-width: 400px;
    height: 40px;
}

/* controls */
.controls {
    box-sizing: border-box;
    /* height: 60px; */
    width: Calc(70 * var(--adjusted-size));

    min-height: 100px;

    padding: 20px;

    border-radius: 5px;

    background-color: #ececec;

    margin: 30px 0 20px 0;

    display: flex;
    gap: 20px;
    flex-basis: auto;

    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;

    z-index: 2;
}

controls::-webkit-scrollbar {
    display: none;
}

.controls-button {
    flex: 1 1 auto;
    max-height: 60px;
    min-width: 10em;
    border-radius: 10px;
    border: none;
    height: 100%;
    color: #ffffff;
    font-size: 1em;
    font-family: inherit;
    background: var(--color-3);
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.controls-button.clear-button {
    background: var(--color-4);
}

.controls-button.clear-inky-button {
    background: var(--color-2);
}

.controls-button.clear-button:hover {
    background: var(--color-3-dark);
    text-decoration: none;
}

.controls-button.clear-inky-button:hover {
    background: var(--color-2-dark);
    text-decoration: none;
}

.controls-button.send-button:hover {
    background: var(--color-4-dark);
    text-decoration: none;
}

/* palette */

.controls-palette {
    flex: 1 1 auto;
    /* height: 100%; */
    background-color: white;
    border-radius: 10px;

    padding: 10px 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

label {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}


input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;

    font: inherit;
    width: 30px;
    height: 30px;

    border-radius: 50%;
    transform: translateY(-0.075em);

    transition: transform 0.5s ease;
}

input[type="radio"]:checked {
    /* outline: max(2px, 0.15em) solid;
    outline-offset: 4px; */
    transform: scale(1.2);
}


.controls-brush {
    background-color: white;
    border-radius: 10px;

    padding: 10px 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}



.controls-brush-size-slider {
    -webkit-appearance: none;
    appearance: none;
    min-width: 60px;
    height: 10px;
    background-color: var(--secondary-color);
    outline: none;
    opacity: 0.7;
    transition: opacity 0.2s;
    border-radius: 5px;

    margin: 0 30px;

    position: relative;
}

.controls-brush-size-slider::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    top: 0;
    left: -30px;
    border-radius: 10px;
    background-color: var(--primary-color);
}

.controls-brush-size-slider::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    top: -7px;
    right: -36px;
    border-radius: 30px;
    background-color: var(--primary-color);
}

.controls-brush-size-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: var(--primary-color);
    cursor: pointer;
    border-radius: 50%;
}

.controls-brush-size-slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background-color: var(--primary-color);
    cursor: pointer;
    border-radius: 50%;
}

.controls-brush-size-slider:hover {
    opacity: 1;
}



.clear {
    color: var(--secondary-color);
    background: var(--secondary-color);
    border: 0.15em solid var(--secondary-color);
}

.black {
    color: black;
    background: black;
    border: 0.15em solid black;
}

.yellow {
    color: rgb(255, 196, 0);
    background: rgb(255, 196, 0);
    border: 0.15em solid #ffc400;
}

.red {
    color: rgb(170, 0, 0);
    background: rgb(187, 0, 0);
    border: 0.15em solid #bb0000;
}

/* hat and canvas */
.hat-wrapper {
    position: relative;
}

.hat {
    padding: Calc(0.8 * var(--adjusted-size)) Calc(3 * var(--adjusted-size));
    background-color: var(--primary-color);
    width: Calc(70 * var(--adjusted-size));
    border-radius: Calc(3 * var(--adjusted-size));

    box-shadow:
        0 Calc(1 * var(--adjusted-size)) 0 0 var(--primary-light-color),
        1px 33px 62px 0px rgba(0, 0, 0, 0.3);

    position: relative;

    animation-duration: 1.4s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-name: entrance;
    animation-timing-function: cubic-bezier(1.000, 0.010, 0.305, 1.045);

    z-index: 3;
}

@keyframes entrance {
    0% {
        transform: translateY(-100px) rotate(-5deg) scale(1.05);
    }

    100% {
        transform: translateY(0) rotate(0) scale(1);
    }
}

.pi-board {
    content: '';

    position: absolute;
    top: Calc(1 * var(--adjusted-size));
    left: Calc(0.5 * var(--adjusted-size));
    width: Calc(102 * var(--adjusted-size));
    height: Calc(70 * var(--adjusted-size));

    filter: sepia(1) contrast(0.2) brightness(1.4);

    pointer-events: none;
    user-select: none;
}

.hat-inner {
    padding-top: Calc(1 * var(--adjusted-size));
    padding-right: Calc(7 * var(--adjusted-size));
    padding-bottom: Calc(1 * var(--adjusted-size));
    padding-left: Calc(1 * var(--adjusted-size));

    background-color: var(--secondary-light-color);
    border-radius: Calc(0.3 * var(--adjusted-size));

    position: relative;
    z-index: 2;
}

.refreshing {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    background: linear-gradient(to right, transparent 70%, var(--secondary-light-color) 80%, transparent 100%);
    background-size: Calc(200 * var(--adjusted-size)), Calc(100 * var(--adjusted-size));
    background-position-x: -Calc(200 * var(--adjusted-size));

    animation-duration: 4s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-name: refreshing;
    animation-timing-function: linear;

    pointer-events: none;
}

.refreshing.animating {
    animation-iteration-count: infinite;
}

@keyframes refreshing {
    0% {
        background-position-x: Calc(-200 * var(--adjusted-size))
    }

    100% {
        background-position-x: Calc(200 * var(--adjusted-size));
    }
}

.drawing-canvas {
    width: 100%;
    image-rendering: pixelated;
    margin-bottom: Calc(-0.25 * var(--adjusted-size));

    cursor: url("/images/pencil.svg") 3 20, auto !important;
}