:root {
  --pi-board-top: #74a892;
  --pi-board-sides: #5e8876;

  --primary-color: #2c1500;
  --primary-light-color: #8a4d11;
  --secondary-color: #E1D0C1;
  --secondary-light-color: #EDE6E4;

  --color-1: #c7522a;
  --color-2: #e5c185;
  --color-2-dark: #a89066;
  --color-3: #74a892;
  --color-3-dark: #4e7062;
  --color-4: #008585;
  --color-4-dark: #004d4d;

  --adjusted-size: Min(1vw, 14px)
}

/*  #c7522a,  #e5c185,  #E1D0C1,  #74a892 and  #008585. */

body {
  margin: 0;
  padding: 0;

  background-color: var(--secondary-color);
  background-image: linear-gradient(var(--secondary-color) 2px, transparent 2px), linear-gradient(90deg, var(--secondary-color) 2px, transparent 2px), linear-gradient(var(--secondary-color) 1px, transparent 1px), linear-gradient(90deg, var(--secondary-color) 1px, var(--secondary-light-color) 1px);
  background-size: 50px 50px, 50px 50px, 10px 10px, 10px 10px;
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;

  font-family: Menlo, Consolas, "Ubuntu Mono", "Roboto Mono", "DejaVu Sans Mono", monospace;

  overscroll-behavior: none;
}